In [2]:
!pip install pandas matplotlib seaborn

^C

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\administrator\appdata\roaming\python\python313\site-packages (2.3.2)
Requirement already satisfied: matplotlib in c:\users\administrator\appdata\roaming\python\python313\site-packages (3.10.6)
Requirement already satisfied: seaborn in c:\users\administrator\appdata\roaming\python\python313\site-packages (0.13.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: six>=1.5 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Download Kenya population dataset from World Bank
url = "https://api.worldbank.org/v2/en/country/ken?downloadformat=csv"
print("Download this link manually in your browser, unzip, and place the CSV inside your Kenya_Pop_Demo folder.")

Download this link manually in your browser, unzip, and place the CSV inside your Kenya_Pop_Demo folder.

In [6]:
import pandas as pd

# Load the real Kenya population CSV
kenya_df = pd.read_csv("kenya_population.csv", skiprows=4)  # skiprows=4 removes extra World Bank header
kenya_df.head()  # show first few rows

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Kenya,KEN,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,4.933743e+00,5.037985e+00,3.140933e+00,3.093141e+00,3.575978e+00,5.274913e+00,NaN,NaN,NaN,NaN
1,Kenya,KEN,"Internally displaced persons, new displacement...",VC.IDP.NWCV,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.700000e+04,1.000000e+04,1.800000e+03,3.900000e+03,4.600000e+03,1.500000e+04,7.700000e+03,NaN,NaN
2,Kenya,KEN,"Voice and Accountability: Percentile Rank, Low...",VA.PER.RNK.LOWER,NaN,NaN,NaN,NaN,NaN,NaN,...,3.596059e+01,3.448276e+01,3.058252e+01,3.188406e+01,3.285024e+01,3.285024e+01,3.671498e+01,3.823529e+01,NaN,NaN
3,Kenya,KEN,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,...,2.445439e+01,2.419623e+01,2.318066e+01,2.176479e+01,1.887746e+01,1.980084e+01,1.981955e+01,2.092000e+01,NaN,NaN
4,Kenya,KEN,Commercial service exports (current US$),TX.VAL.SERV.CD.WT,NaN,NaN,NaN,NaN,NaN,NaN,...,3.368512e+09,3.784985e+09,4.625766e+09,4.628441e+09,2.867194e+09,4.261964e+09,5.598486e+09,4.805644e+09,NaN,NaN

In [7]:
# Drop unnecessary columns
kenya_clean = kenya_df.drop(columns=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], errors='ignore')

# Melt the year columns into one column
kenya_clean = kenya_clean.melt(var_name='Year', value_name='Total_Population')

# Convert Year to int and Population to int
kenya_clean['Year'] = kenya_clean['Year'].astype(int)
kenya_clean['Total_Population'] = kenya_clean['Total_Population'].astype(int)

# Show the cleaned data
kenya_clean.head()

ValueError: invalid literal for int() with base 10: 'Unnamed: 69'

In [8]:
# Keep only the year columns (they are digits) and drop non-year columns
year_cols = [col for col in kenya_df.columns if col.isdigit()]  # only columns like '1960', '1961', ...
kenya_clean = kenya_df[year_cols]

# Melt the DataFrame so each row is Year + Total_Population
kenya_clean = kenya_clean.melt(var_name='Year', value_name='Total_Population')

# Convert Year to int
kenya_clean['Year'] = kenya_clean['Year'].astype(int)

# Convert Population to int, but safely (ignore NaNs)
kenya_clean['Total_Population'] = pd.to_numeric(kenya_clean['Total_Population'], errors='coerce').fillna(0).astype(int)

# Show the cleaned data
kenya_clean.head()

   Year  Total_Population
0  1960                 0
1  1960                 0
2  1960                 0
3  1960                 0
4  1960                 0

In [9]:
# Select the row where 'Country Name' is Kenya
kenya_row = kenya_df[kenya_df['Country Name'] == 'Kenya']

# Select only the year columns
year_cols = [col for col in kenya_row.columns if col.isdigit()]
kenya_clean = kenya_row[year_cols]

# Melt into Year + Total_Population
kenya_clean = kenya_clean.melt(var_name='Year', value_name='Total_Population')

# Convert Year and Population to int safely
kenya_clean['Year'] = kenya_clean['Year'].astype(int)
kenya_clean['Total_Population'] = pd.to_numeric(kenya_clean['Total_Population'], errors='coerce').fillna(0).astype(int)

# Show cleaned data
kenya_clean.head()

   Year  Total_Population
0  1960                 0
1  1960                 0
2  1960                 0
3  1960                 0
4  1960                 0

In [10]:
import pandas as pd

# Load the CSV (skip first 4 rows as before)
kenya_df = pd.read_csv("kenya_population.csv", skiprows=4)

# Find the row for Kenya
kenya_row = kenya_df[kenya_df['Country Name'] == 'Kenya']

# Select only year columns (columns that are digits)
year_cols = [col for col in kenya_row.columns if col.isdigit()]

# Extract only the data for Kenya
kenya_data = kenya_row[year_cols].iloc[0]  # use .iloc[0] to get the first (and only) row

# Convert the Series to DataFrame
kenya_clean = kenya_data.reset_index()
kenya_clean.columns = ['Year', 'Total_Population']

# Convert types
kenya_clean['Year'] = kenya_clean['Year'].astype(int)
kenya_clean['Total_Population'] = kenya_clean['Total_Population'].str.replace(',', '').astype(int)

# Show the cleaned data
kenya_clean.head()

AttributeError: Can only use .str accessor with string values!

In [11]:
import pandas as pd

# Load CSV (skip metadata rows)
kenya_df = pd.read_csv("kenya_population.csv", skiprows=4)

# Make sure 'Country Name' column exists
if 'Country Name' in kenya_df.columns:
    # Select Kenya row
    kenya_row = kenya_df[kenya_df['Country Name'].str.strip() == 'Kenya']

    # Select only year columns (strings that are digits)
    year_cols = [col for col in kenya_row.columns if col.strip().isdigit()]

    # Extract the population values as a list
    population_values = kenya_row[year_cols].values.flatten().tolist()

    # Convert values to int safely (remove commas and handle missing)
    population_values = [int(str(x).replace(',', '').replace('nan','0')) for x in population_values]

    # Create clean DataFrame
    kenya_clean = pd.DataFrame({
        'Year': [int(col) for col in year_cols],
        'Total_Population': population_values
    })

    # Show cleaned data
    print(kenya_clean.head())

else:
    print("Error: 'Country Name' column not found in CSV")

ValueError: invalid literal for int() with base 10: '3.44822273823089'

In [12]:
import pandas as pd

# Load CSV
kenya_df = pd.read_csv("kenya_population.csv", skiprows=4)

# Select Kenya row
kenya_row = kenya_df[kenya_df['Country Name'].str.strip() == 'Kenya']

# Select only year columns (strings that are digits)
year_cols = [col for col in kenya_row.columns if col.strip().isdigit()]

# Extract population values as floats
population_values = kenya_row[year_cols].values.flatten().tolist()
population_values = [float(x) for x in population_values]  # keep decimals

# If values are in billions (common for some WB indicators), multiply by 1e6
population_values = [int(x) for x in population_values]  # now integers

# Create clean DataFrame
kenya_clean = pd.DataFrame({
    'Year': [int(col) for col in year_cols],
    'Total_Population': population_values
})

# Show the cleaned data
kenya_clean.head()

ValueError: cannot convert float NaN to integer

In [13]:
import pandas as pd

# Load CSV
kenya_df = pd.read_csv("kenya_population.csv", skiprows=4)

# Select Kenya row
kenya_row = kenya_df[kenya_df['Country Name'].str.strip() == 'Kenya']

# Select only year columns (strings that are digits)
year_cols = [col for col in kenya_row.columns if col.strip().isdigit()]

# Extract population values as floats, replace NaN with 0
population_values = kenya_row[year_cols].values.flatten().tolist()
population_values = [float(x) if pd.notna(x) else 0 for x in population_values]

# Convert to int
population_values = [int(x) for x in population_values]

# Create clean DataFrame
kenya_clean = pd.DataFrame({
    'Year': [int(col) for col in year_cols],
    'Total_Population': population_values
})

# Show the cleaned data
kenya_clean.head()

ValueError: All arrays must be of the same length

In [14]:
import pandas as pd

# Load CSV
kenya_df = pd.read_csv("kenya_population.csv", skiprows=4)

# Select Kenya row
kenya_row = kenya_df[kenya_df['Country Name'].str.strip() == 'Kenya']

# Only keep columns that are years
year_cols = [col for col in kenya_row.columns if col.strip().isdigit()]

# Create a clean list of (Year, Population) safely
data = []
for col in year_cols:
    year = int(col)
    value = kenya_row[col].values[0]  # extract the single value
    try:
        # Some values are floats, some are NaN
        value = float(value)
        # If the value is in billions (like 3.44), multiply by 1_000_000? You can adjust if needed
        value = int(value)
    except:
        value = 0  # fallback for missing or invalid numbers
    data.append((year, value))

# Convert to DataFrame
kenya_clean = pd.DataFrame(data, columns=['Year', 'Total_Population'])

# Show the first few rows
kenya_clean.head()

   Year  Total_Population
0  1960                 0
1  1961                 0
2  1962                 0
3  1963                 0
4  1964                 0

In [15]:
kenya_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Kenya,KEN,"Intentional homicides (per 100,000 people)",VC.IHR.PSRC.P5,NaN,NaN,NaN,NaN,NaN,NaN,...,4.933743e+00,5.037985e+00,3.140933e+00,3.093141e+00,3.575978e+00,5.274913e+00,NaN,NaN,NaN,NaN
1,Kenya,KEN,"Internally displaced persons, new displacement...",VC.IDP.NWCV,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.700000e+04,1.000000e+04,1.800000e+03,3.900000e+03,4.600000e+03,1.500000e+04,7.700000e+03,NaN,NaN
2,Kenya,KEN,"Voice and Accountability: Percentile Rank, Low...",VA.PER.RNK.LOWER,NaN,NaN,NaN,NaN,NaN,NaN,...,3.596059e+01,3.448276e+01,3.058252e+01,3.188406e+01,3.285024e+01,3.285024e+01,3.671498e+01,3.823529e+01,NaN,NaN
3,Kenya,KEN,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,...,2.445439e+01,2.419623e+01,2.318066e+01,2.176479e+01,1.887746e+01,1.980084e+01,1.981955e+01,2.092000e+01,NaN,NaN
4,Kenya,KEN,Commercial service exports (current US$),TX.VAL.SERV.CD.WT,NaN,NaN,NaN,NaN,NaN,NaN,...,3.368512e+09,3.784985e+09,4.625766e+09,4.628441e+09,2.867194e+09,4.261964e+09,5.598486e+09,4.805644e+09,NaN,NaN
5,Kenya,KEN,Merchandise exports by the reporting economy (...,TX.VAL.MRCH.WL.CD,9.860000e+07,1.017000e+08,1.097000e+08,1.217000e+08,1.290000e+08,1.227000e+08,...,5.671250e+09,5.721285e+09,6.022897e+09,5.797861e+09,5.898937e+09,6.706819e+09,7.327427e+09,7.107099e+09,NaN,NaN
6,Kenya,KEN,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R4.ZS,8.113590e-01,6.882989e-01,8.204193e-01,9.860312e-01,1.395349e+00,2.363488e+00,...,5.315199e+00,5.137615e+00,4.958561e+00,4.927427e+00,4.603313e+00,4.483090e+00,5.354884e+00,5.501937e+00,NaN,NaN
7,Kenya,KEN,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.OR.ZS,7.099391e+00,6.293019e+00,5.742935e+00,5.834018e+00,7.054264e+00,8.394458e+00,...,2.058140e+01,2.254636e+01,2.207610e+01,1.923859e+01,1.995206e+01,1.861621e+01,2.010392e+01,2.061161e+01,NaN,NaN
8,Kenya,KEN,Ores and metals exports (% of merchandise expo...,TX.VAL.MMTL.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.264898e+00,5.363544e+00,5.995356e+00,4.985782e+00,5.132656e+00,6.387468e+00,6.782612e+00,5.324280e+00,NaN,NaN
9,Kenya,KEN,Fuel exports (% of merchandise exports),TX.VAL.FUEL.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.463558e+00,1.006026e+00,8.347549e-01,7.737080e+00,6.748325e+00,9.241498e-01,1.373694e+00,1.864829e+00,NaN,NaN

In [16]:
# Filter only rows with Kenya AND Total Population indicator
kenya_pop_row = kenya_df[
    (kenya_df['Country Name'].str.strip() == 'Kenya') &
    (kenya_df['Indicator Name'].str.contains('Population, total'))
]

# Check it
kenya_pop_row.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
29,Kenya,KEN,"Population, total",SP.POP.TOTL,7695307.0,7987770.0,8299308.0,8627971.0,8973535.0,9338078.0,...,48139687.0,49197766.0,50207107.0,51202827.0,52217334.0,53219166.0,54252461.0,55339003.0,56432944.0,NaN

In [17]:
# Select only year columns (columns that are digits)
year_cols = [col for col in kenya_pop_row.columns if col.strip().isdigit()]

# Melt into Year + Total_Population safely
kenya_clean = kenya_pop_row.melt(
    id_vars=[],
    value_vars=year_cols,
    var_name='Year',
    value_name='Total_Population'
)

# Convert Year to int
kenya_clean['Year'] = kenya_clean['Year'].astype(int)

# Convert Total_Population to float then int safely
kenya_clean['Total_Population'] = pd.to_numeric(kenya_clean['Total_Population'], errors='coerce').fillna(0).astype(int)

# Show the cleaned data
kenya_clean.head()

   Year  Total_Population
0  1960           7695307
1  1961           7987770
2  1962           8299308
3  1963           8627971
4  1964           8973535

In [18]:
# Create full range of years
all_years = pd.DataFrame({'Year': range(1960, 2025)})

# Merge with your cleaned data
kenya_clean_full = all_years.merge(kenya_clean, on='Year', how='left')

# Replace missing population with NaN or 0
kenya_clean_full['Total_Population'] = kenya_clean_full['Total_Population'].fillna(0).astype(int)

# Show
kenya_clean_full

    Year  Total_Population
0   1960           7695307
1   1961           7987770
2   1962           8299308
3   1963           8627971
4   1964           8973535
..   ...               ...
60  2020          52217334
61  2021          53219166
62  2022          54252461
63  2023          55339003
64  2024          56432944

[65 rows x 2 columns]

In [19]:
import matplotlib.pyplot as plt

plt.style.use('seaborn-whitegrid') 

plt.figure(figsize=(12,6))
plt.plot(
    kenya_clean_full['Year'], 
    kenya_clean_full['Total_Population'], 
    color='#2a9d8f',  
    linewidth=2.5
)

# title and labels
plt.title('Kenya Population Growth (1960-2024)', fontsize=16, fontweight='bold')
plt.xlabel('Year', fontsize=12)
plt.ylabel('Total Population', fontsize=12)

# grid, ticks, and elegant y-axis format
plt.grid(True, alpha=0.3)
plt.xticks(rotation=45)
plt.tight_layout()

plt.show()

OSError: 'seaborn-whitegrid' is not a valid package style, path of style file, URL of style file, or library style name (library styles are listed in `style.available`)

In [20]:
import matplotlib.pyplot as plt

plt.style.use('seaborn')  

plt.figure(figsize=(12,6))
plt.plot(
    kenya_clean_full['Year'], 
    kenya_clean_full['Total_Population'], 
    color='#2a9d8f',  
    linewidth=2.5
)

plt.title('Kenya Population Growth (1960-2024)', fontsize=16, fontweight='bold')
plt.xlabel('Year', fontsize=12)
plt.ylabel('Total Population', fontsize=12)
plt.grid(True, alpha=0.3)
plt.xticks(rotation=45)
plt.tight_layout()

plt.show()

OSError: 'seaborn' is not a valid package style, path of style file, URL of style file, or library style name (library styles are listed in `style.available`)

In [21]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\administrator\appdata\roaming\python\python313\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: pandas>=1.2 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from seaborn) (2.3.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from seaborn) (3.10.6)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\administrator\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns  

plt.style.use('seaborn-whitegrid')

OSError: 'seaborn-whitegrid' is not a valid package style, path of style file, URL of style file, or library style name (library styles are listed in `style.available`)

In [2]:
import matplotlib.pyplot as plt

plt.style.use('seaborn')  

plt.figure(figsize=(12,6))
plt.plot(
    kenya_clean_full['Year'], 
    kenya_clean_full['Total_Population'], 
    color='#2a9d8f',  
    linewidth=2.5
)

plt.title('Kenya Population Growth (1960-2024)', fontsize=16, fontweight='bold')
plt.xlabel('Year', fontsize=12)
plt.ylabel('Total Population', fontsize=12)
plt.grid(True, alpha=0.3)
plt.xticks(rotation=45)
plt.tight_layout()

plt.show()

OSError: 'seaborn' is not a valid package style, path of style file, URL of style file, or library style name (library styles are listed in `style.available`)

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_theme(style="whitegrid") 

# Create the figure
plt.figure(figsize=(12, 6))

# Plot the data
plt.plot(
    kenya_clean_full['Year'], 
    kenya_clean_full['Total_Population'], 
    color='#2a9d8f',  
    linewidth=2.5
)

# Add title and labels
plt.title("Kenya Total Population Over the Years", fontsize=16)
plt.xlabel("Year", fontsize=12)
plt.ylabel("Total Population", fontsize=12)

# rotate x-axis labels if they are crowded
plt.xticks(rotation=45)

# Show the plot
plt.show()

NameError: name 'kenya_clean_full' is not defined

In [4]:
import pandas as pd

kenya_clean_full = pd.read_csv("Kenya_population.csv")

print(kenya_clean_full.head())

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 70

In [5]:
kenya_clean_full = pd.read_csv("Kenya_population.csv", sep=';')

print(kenya_clean_full.head())

ParserError: Error tokenizing data. C error: Expected 1 fields in line 1390, saw 2

In [6]:
import pandas as pd

kenya_clean_full = pd.read_csv("Kenya_population.csv", sep=';', on_bad_lines='skip')
print(kenya_clean_full.head())

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2025-07-01",
1  Country Name,"Country Code","Indicator Name","...
2  Kenya,"KEN","Intentional homicides (per 100,00...
3  Kenya,"KEN","Internally displaced persons, new...
4  Kenya,"KEN","Voice and Accountability: Percent...

In [7]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_theme(style="whitegrid")  

# Create the figure
plt.figure(figsize=(12, 6))

# Plot the data
plt.plot(
    kenya_clean_full['Year'], 
    kenya_clean_full['Total_Population'], 
    color='#2a9d8f',  
    linewidth=2.5
)

# Add title and labels
plt.title("Kenya Total Population Over the Years", fontsize=16)
plt.xlabel("Year", fontsize=12)
plt.ylabel("Total Population", fontsize=12)

# rotate x-axis labels if they are crowded
plt.xticks(rotation=45)

# Show the plot
plt.show()

KeyError: 'Year'

In [8]:
import pandas as pd

kenya_clean_full = pd.read_csv(
    "Kenya_population.csv",
    sep=None, 
    engine='python', 
    on_bad_lines='skip'
)

print("Loaded shape:", kenya_clean_full.shape)
print(kenya_clean_full.head())

Loaded shape: (1, 3)
      ï»¿"Data Source" World Development Indicators  Unnamed: 2
0  Last Updated Date                   2025-07-01         NaN

In [9]:
# See the first 10 rows
print(kenya_clean_full.head(10))

# See the column names
print(kenya_clean_full.columns)

# See the last 5 rows 
print(kenya_clean_full.tail())

      ï»¿"Data Source" World Development Indicators  Unnamed: 2
0  Last Updated Date                   2025-07-01         NaN
Index(['ï»¿"Data Source"', 'World Development Indicators', 'Unnamed: 2'], dtype='object')
      ï»¿"Data Source" World Development Indicators  Unnamed: 2
0  Last Updated Date                   2025-07-01         NaN

In [10]:
import pandas as pd

# Skip the first row and clean headers
kenya_clean_full = pd.read_csv(
    "Kenya_population.csv",
    skiprows=1  # skip metadata row
)

# Inspect 
print(kenya_clean_full.head())
print(kenya_clean_full.columns)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Last Updated Date  \
Country Name Country Code Indicator Name                                     Indicator Code    1.960000e+03 1.961000e+03 1.962000e+03 1.963000e+03 1.964000e+03 1.965000e+03 1.966000e+03 1.967000e+03 1.968000e+03 1.969000e+03 1.970000e+03 1.971000e+03 1.972000e+03 1.973000e+03 1.974000e+03 1.975000e+03 1.976000e+03 1.977000e+03 1.978000e+03 1.979000e+03 1.980000e+03 1.981000e+03 1.982000e+03 1.983000e+03 1.984000e+03 1.985000e+03 1.986000e+03 1.987000e+03 1.988000e+03 1.989000e+03 1.990000e+03 1.991000e+03 1.992000e+03 1.993000e+03 1.994000e+03 1.995000e+03 1.996000e+03 1.997000e+03 1.998000e+03 1.999000e+03 2.000000e+03 2.001000e+03 2.002000e+03 2.003000e+03 2.004000e+03 2.005000e+03 2.006000e+03 2.007000e+03 2.008000e+03 2.009000e+03 2.010000e+03 2011.000000  2012.000000   2.013000e+03 2014.000000   2.015000e+03 2.016000e+03 2017.000000  2018.000000  2019.000000 2020.000000 2021.000000 2.022000e+03        2023.000000
Kenya        KEN          Intentional homicides (per 100,000 people)         VC.IHR.PSRC.P5    NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          3.448223e+00 3.023184e+00 2.995132e+00 2.896301e+00 3.100986e+00 4.725644e+00 4.638963e+00 5.326592     5.429288      NaN          5.029252      4.825887e+00 4.933743e+00 5.037985     3.140933     3.093141    3.575978    5.274913    NaN                         NaN
                          Internally displaced persons, new displacement ... VC.IDP.NWCV       NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          50000.000000 118000.000000 5.500000e+04 220000.000000 NaN          NaN          27000.000000 10000.000000 1800.000000 3900.000000 4600.000000 1.500000e+04        7700.000000
                          Voice and Accountability: Percentile Rank, Lowe... VA.PER.RNK.LOWER  NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          1.650000e+01 NaN          1.343284e+01 NaN          1.293532e+01 NaN          2.139303e+01 3.233831e+01 3.413462e+01 3.365385e+01 3.653846e+01 3.413462e+01 3.269231e+01 3.033175e+01 3.459716e+01 31.924883    34.272301     3.568075e+01 35.960590     3.596059e+01 3.596059e+01 34.482758    30.582523    31.884058   32.850243   32.850243   3.671498e+01          38.235294
                          Travel services (% of commercial service exports)  TX.VAL.TRVL.ZS.WT NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          3.555082e+01 3.399504e+01 4.034691e+01 4.218443e+01 4.030960e+01 4.581931e+01 5.363814e+01 5.614436e+01 5.387484e+01 5.448177e+01 6.009410e+01 6.485135e+01 6.497942e+01 6.640684e+01 6.721898e+01 6.016471e+01 5.839143e+01 5.841085e+01 3.870387e+01 3.734930e+01 3.560672e+01 3.953211e+01 3.950398e+01 3.796127e+01 3.406754e+01 3.870387e+01 3.734930e+01 3.560672e+01 3.953211e+01 3.950398e+01 3.796634e+01 3.460746e+01 3.791665e+01 2.971889e+01 3.138939e+01 2.652594e+01 27.678190    23.298759     2.096728e+01 19.695595     1.952134e+01 2.445439e+01 24.196229    23.180658    21.764785   18.877461   19.800839   1.981955e+01          20.919999

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  2025-07-01  \
Country Name Country Code Indicator Name                                     Indicator Code    1.960000e+03 1.961000e+03 1.962000e+03 1.963000e+03 1.964000e+03 1.965000e+03 1.966000e+03 1.967000e+03 1.968000e+03 1.969000e+03 1.970000e+03 1.971000e+03 1.972000e+03 1.973000e+03 1.974000e+03 1.975000e+03 1.976000e+03 1.977000e+03 1.978000e+03 1.979000e+03 1.980000e+03 1.981000e+03 1.982000e+03 1.983000e+03 1.984000e+03 1.985000e+03 1.986000e+03 1.987000e+03 1.988000e+03 1.989000e+03 1.990000e+03 1.991000e+03 1.992000e+03 1.993000e+03 1.994000e+03 1.995000e+03 1.996000e+03 1.997000e+03 1.998000e+03 1.999000e+03 2.000000e+03 2.001000e+03 2.002000e+03 2.003000e+03 2.004000e+03 2.005000e+03 2.006000e+03 2.007000e+03 2.008000e+03 2.009000e+03 2.010000e+03 2011.000000  2012.000000   2.013000e+03 2014.000000   2.015000e+03 2.016000e+03 2017.000000  2018.000000  2019.000000 2020.000000 2021.000000 2.022000e+03      2024.0
Kenya        KEN          Intentional homicides (per 100,000 people)         VC.IHR.PSRC.P5    NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          3.448223e+00 3.023184e+00 2.995132e+00 2.896301e+00 3.100986e+00 4.725644e+00 4.638963e+00 5.326592     5.429288      NaN          5.029252      4.825887e+00 4.933743e+00 5.037985     3.140933     3.093141    3.575978    5.274913    NaN                  NaN
                          Internally displaced persons, new displacement ... VC.IDP.NWCV       NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          50000.000000 118000.000000 5.500000e+04 220000.000000 NaN          NaN          27000.000000 10000.000000 1800.000000 3900.000000 4600.000000 1.500000e+04         NaN
                          Voice and Accountability: Percentile Rank, Lowe... VA.PER.RNK.LOWER  NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          1.650000e+01 NaN          1.343284e+01 NaN          1.293532e+01 NaN          2.139303e+01 3.233831e+01 3.413462e+01 3.365385e+01 3.653846e+01 3.413462e+01 3.269231e+01 3.033175e+01 3.459716e+01 31.924883    34.272301     3.568075e+01 35.960590     3.596059e+01 3.596059e+01 34.482758    30.582523    31.884058   32.850243   32.850243   3.671498e+01         NaN
                          Travel services (% of commercial service exports)  TX.VAL.TRVL.ZS.WT NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          3.555082e+01 3.399504e+01 4.034691e+01 4.218443e+01 4.030960e+01 4.581931e+01 5.363814e+01 5.614436e+01 5.387484e+01 5.448177e+01 6.009410e+01 6.485135e+01 6.497942e+01 6.640684e+01 6.721898e+01 6.016471e+01 5.839143e+01 5.841085e+01 3.870387e+01 3.734930e+01 3.560672e+01 3.953211e+01 3.950398e+01 3.796127e+01 3.406754e+01 3.870387e+01 3.734930e+01 3.560672e+01 3.953211e+01 3.950398e+01 3.796634e+01 3.460746e+01 3.791665e+01 2.971889e+01 3.138939e+01 2.652594e+01 27.678190    23.298759     2.096728e+01 19.695595     1.952134e+01 2.445439e+01 24.196229    23.180658    21.764785   18.877461   19.800839   1.981955e+01         NaN

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Unnamed: 2
Country Name Country Code Indicator Name                                     Indicator Code    1.960000e+03 1.961000e+03 1.962000e+03 1.963000e+03 1.964000e+03 1.965000e+03 1.966000e+03 1.967000e+03 1.968000e+03 1.969000e+03 1.970000e+03 1.971000e+03 1.972000e+03 1.973000e+03 1.974000e+03 1.975000e+03 1.976000e+03 1.977000e+03 1.978000e+03 1.979000e+03 1.980000e+03 1.981000e+03 1.982000e+03 1.983000e+03 1.984000e+03 1.985000e+03 1.986000e+03 1.987000e+03 1.988000e+03 1.989000e+03 1.990000e+03 1.991000e+03 1.992000e+03 1.993000e+03 1.994000e+03 1.995000e+03 1.996000e+03 1.997000e+03 1.998000e+03 1.999000e+03 2.000000e+03 2.001000e+03 2.002000e+03 2.003000e+03 2.004000e+03 2.005000e+03 2.006000e+03 2.007000e+03 2.008000e+03 2.009000e+03 2.010000e+03 2011.000000  2012.000000   2.013000e+03 2014.000000   2.015000e+03 2.016000e+03 2017.000000  2018.000000  2019.000000 2020.000000 2021.000000 2.022000e+03         NaN
Kenya        KEN          Intentional homicides (per 100,000 people)         VC.IHR.PSRC.P5    NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          3.448223e+00 3.023184e+00 2.995132e+00 2.896301e+00 3.100986e+00 4.725644e+00 4.638963e+00 5.326592     5.429288      NaN          5.029252      4.825887e+00 4.933743e+00 5.037985     3.140933     3.093141    3.575978    5.274913    NaN                  NaN
                          Internally displaced persons, new displacement ... VC.IDP.NWCV       NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          50000.000000 118000.000000 5.500000e+04 220000.000000 NaN          NaN          27000.000000 10000.000000 1800.000000 3900.000000 4600.000000 1.500000e+04         NaN
                          Voice and Accountability: Percentile Rank, Lowe... VA.PER.RNK.LOWER  NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          1.650000e+01 NaN          1.343284e+01 NaN          1.293532e+01 NaN          2.139303e+01 3.233831e+01 3.413462e+01 3.365385e+01 3.653846e+01 3.413462e+01 3.269231e+01 3.033175e+01 3.459716e+01 31.924883    34.272301     3.568075e+01 35.960590     3.596059e+01 3.596059e+01 34.482758    30.582523    31.884058   32.850243   32.850243   3.671498e+01         NaN
                          Travel services (% of commercial service exports)  TX.VAL.TRVL.ZS.WT NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          NaN          3.555082e+01 3.399504e+01 4.034691e+01 4.218443e+01 4.030960e+01 4.581931e+01 5.363814e+01 5.614436e+01 5.387484e+01 5.448177e+01 6.009410e+01 6.485135e+01 6.497942e+01 6.640684e+01 6.721898e+01 6.016471e+01 5.839143e+01 5.841085e+01 3.870387e+01 3.734930e+01 3.560672e+01 3.953211e+01 3.950398e+01 3.796127e+01 3.406754e+01 3.870387e+01 3.734930e+01 3.560672e+01 3.953211e+01 3.950398e+01 3.796634e+01 3.460746e+01 3.791665e+01 2.971889e+01 3.138939e+01 2.652594e+01 27.678190    23.298759     2.096728e+01 19.695595     1.952134e+01 2.445439e+01 24.196229    23.180658    21.764785   18.877461   19.800839   1.981955e+01         NaN
Index(['Last Updated Date', '2025-07-01', 'Unnamed: 2'], dtype='object')

In [11]:
import pandas as pd

# Read CSV skipping initial metadata
df = pd.read_csv("Kenya_population.csv", skiprows=0)  # adjust skiprows if needed

# Drop completely empty columns
df = df.dropna(axis=1, how='all')

# Remove any 'Unnamed' columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

# Convert year columns to numeric
year_cols = df.columns[4:]  # all columns after first 4 are years
df[year_cols] = df[year_cols].apply(pd.to_numeric, errors='coerce')

# Optional: reshape from wide to long format (tidy)
df_long = df.melt(
    id_vars=["Country Name", "Country Code", "Indicator Name", "Indicator Code"],
    value_vars=year_cols,
    var_name="Year",
    value_name="Value"
)

print(df_long.head())

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 70